.desc {
  color: #aabbbb;
  text-align: center;
  margin-top: 5rem;
  font-size: 30px;
}

.temperature {
  text-align: center;
  font-size: 12rem;
  position: relative;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #aabbbb;


  sup {
    font-size: 30px;
    position: absolute;
    top: 45px;
  }
}

.content {
  // display: flex;

  img {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    display: block;
  }
}


@media only screen and (max-width: 536px) {
  .temperature {
    font-size: 7.5rem;

    sup {
      top: 15px;
    }
  }
}
@media only screen and (max-width: 425px) {
  .temperature {
    font-size: 7rem;

    sup {
      top: 10px;
    }
  }
}

@media only screen and (max-width: 375px) {
  .temperature {
    font-size: 5rem;

    sup {
      font-size: 20px;
      top: 10px;
    }
  }
}
